.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--white);
}

.modal-slide-up {
  animation: slideUpFade 0.3s ease-out;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
