@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

:root {
  --bg-sunrise: linear-gradient(135deg, #87ceeb 0%, #ffebcd 100%);
  --bg-daytime: linear-gradient(135deg, #4facfe 0%, #dff9ff 100%);
  --bg-sunset: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
  --bg-nighttime: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
  --bg-ourdark: #1e293b;
  --bg-dark2: #334155;

  --text-white: #ffffff;
  --text-white-trans: #ffffff80;
}

body {
  font-family: "Google Sans Flex", sans-serif;
}

h1 {
  color: #333;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

aside {
  min-width: 335px;
  overflow: scroll;
}
