@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --bg-sunrise: linear-gradient(135deg, #87CEEB 0%, #FFEBCD 100%);
  --bg-daytime: linear-gradient(135deg, #4FACFE 0%, #DFF9FF 100%); 
  --bg-sunset: linear-gradient(135deg, #FA709A 0%, #FEE140 100%); 
  --bg-nighttime: linear-gradient(135deg, #0F2027 0%, #2C5364 100%);  
  --bg-ourdark: #1E293B;
  --bg-dark2: #334155;

  --text-white: #FFFFFF;
  --text-white-trans: #FFFFFF80;
}

body {
  font-family: "Google Sans Flex", sans-serif;
}

h1 {
  color: #333;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

aside{
  width: 335px;
}