.bgSunrise {
  background: var(--bg-sunrise);
}

.bgDay {
  background: var(--bg-daytime);
}

.bgSunset {
  background: var(--bg-sunset);
}

.bgNight {
  background: var(--bg-nighttime);
}

.glassCard {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
