.bgColor {
  background: var(--bg-ourdark);
}

.customBrand {
  border-bottom: 1px solid var(--text-white-trans);
}
.customBrand span {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.customBrand svg {
  color: var(--text-white);
  font-size: 18px;
}

.customTitle span {
  color: var(--text-white-trans);
  font-size: 12px;
  font-weight: 300;
}

.customTitle svg {
  color: var(--text-white-trans);
  font-size: 12px;
}
