@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
  font-family: "Google Sans Flex", sans-serif;
}


/* making based colors here */
:root {
  --sunrise-background: linear-gradient(135deg, #87CEEB 0%, #FFEBCD 100%);
  --daytime-background: linear-gradient(135deg, #4FACFE 0%, #DFF9FF 100%); 
  --sunset-background: linear-gradient(135deg, #FA709A 0%, #FEE140 100%); 
  --nighttime-background: linear-gradient(135deg, #0F2027 0%, #2C5364 100%);  
  --sidebarDark: #1E293B;
  --bg-dark2: #334155;

  --text-white: #FFFFFF;
  --text-white-trans: #FFFFFF80;
}

h1 {
  color: #333;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

aside{
  width: 335px;
}

.weather-card.bg-sunrise {
  background: var(--sunrise-background);
}

.weather-card.bg-day {
  background: var(--daytime-background);
}

.weather-card.bg-sunset {
  background: var(--sunset-background);
}

.weather-card.bg-night {
  background: var(--nighttime-background);
}

.weather-card small{
  font-size: 12px;
  font-weight: 200;
}

.weather-card svg{
  font-size: 12px;
}

.weather-card h5{
  font-size: 16px;
  font-weight: 600;
}

.weather-card h1{
  font-size: 40px;
  font-weight: 600;
}

.weather-card p{
  font-size: 12px;
  font-weight: 400;
}

.bg-sidebarDark {
  background: var(--sidebarDark);
}

.text-large{
  font-size: 2.5rem;
}

#searchInput {
  color: white;
  background-color: #1E293B;
  border: none;
  border-radius: 4px;
  padding: 2px;
  font-size: 12px;
}

#searchInput::placeholder{
  color: rgba(255, 255, 255, 0.55);
}

.bg-dark2{
  background: var(--bg-dark2);
}

.sidebar-brand {
  border-bottom: 1px solid var(--text-white-trans);
}
.sidebar-brand span{
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.sidebar-brand svg {
  color: var(--text-white);
  font-size: 18px;
}

.sidebar-title span{
  color: var(--text-white-trans);
  font-size: 12px;
  font-weight: 300;
}

.sidebar-title svg {
  color: var(--text-white-trans);
  font-size: 12px;
}